<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <!-- MENÚ RAÍZ -->
    <menuitem
        id="menu_clinica_root"
        name="Clínica"
        sequence="10"
    />

    <!-- CITAS (acceso diario recepcionista) -->
    <menuitem
        id="menu_clinica_citas"
        name="Citas"
        parent="menu_clinica_root"
        sequence="10"
    />
    <menuitem
        id="menu_clinica_cita_list"
        name="Todas las Citas"
        parent="menu_clinica_citas"
        action="action_clinica_cita"
        sequence="10"
    />

    <!-- PLANIFICACIÓN (gestión de agenda recepcionista) -->
    <menuitem
        id="menu_clinica_planificacion"
        name="Planificación"
        parent="menu_clinica_root"
        sequence="20"
    />
    <menuitem
        id="menu_clinica_slots"
        name="Slots Disponibles"
        parent="menu_clinica_planificacion"
        action="action_clinica_slot"
        sequence="10"
    />
    <menuitem
        id="menu_clinica_ausencias"
        name="Ausencias de Médicos"
        parent="menu_clinica_planificacion"
        action="action_clinica_ausencia"
        sequence="20"
    />

    <!-- CONFIGURACIÓN (solo administrador) -->
    <menuitem
        id="menu_clinica_configuracion"
        name="Configuración"
        parent="menu_clinica_root"
        sequence="30"
        groups="clinica.group_clinica_admin"
    />
    <menuitem
        id="menu_clinica_medicos"
        name="Médicos"
        parent="menu_clinica_configuracion"
        action="action_clinica_medico"
        sequence="10"
        groups="clinica.group_clinica_admin"
    />
    <menuitem
        id="menu_clinica_pacientes"
        name="Pacientes"
        parent="menu_clinica_configuracion"
        action="action_clinica_paciente"
        sequence="20"
        groups="clinica.group_clinica_admin"
    />

</odoo>